@import "@/index.scss";
.header {
  &__cart {
    cursor: pointer;
    font-size: 4rem;
    justify-self: end;
    color: $color-blue;
    position: relative;
    transition: 0.2s;

    &:hover {
      color: $color-blue-light;
    }
    &:hover &--count {
      background-color: $color-blue-light;
    }
    &--count {
      position: absolute;
      font-size: 1.2rem;
      min-height: 1.8rem;
      aspect-ratio: 1;
      transition: 0.2s;
      display: flex;
      top: 10%;
      right: -5%;
      color: #fff;
      border-radius: 50%;
      justify-content: center;

      background-color: $color-blue;
    }
  }
}
.cart {
  &__overview {
    padding: 2rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    height: 100vh;
    width: min(100%, 45rem);
    background-color: $color-white;
    transition: 0.2s cubic-bezier(0.12, 0, 0.39, 0);
    &[data-state="closed"] {
      transform: translateX(100%);
    }
  }
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    transition: 0.1s;
    &[data-state="closed"] {
      opacity: 0;
      user-select: none;
      pointer-events: none;
    }
  }
  &__close {
    font-size: 5rem;
    color: $color-blue;
    &:hover {
      color: $color-blue-2;
    }
  }
}
