@import "@/index.scss";
.not-found {
  max-width: 100rem;
  margin: auto;
  background-color: rgb(150, 242, 215, 0.2);
  font-size: 4rem;
  text-align: center;
  padding: 4rem;
  border-radius: 1rem;
}
