@font-face {
  font-family: "SVN-Gilroy";
  src: url("../public/fonts/Gilroy-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../public/fonts/Gilroy-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "SVN-Gilroy";
  src: url("../public/fonts/Gilroy-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../public/fonts/Gilroy-SemiBold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../public/fonts/Gilroy-Bold.otf");
  font-weight: 700 800;
}
@mixin flexCol() {
  display: flex;
  flex-direction: column;
}

$color-bg: #fff;
$color-white: #fdfdfd;
$color-black: #00171f;

$color-text: #242b33;
$color-grey: #667479;
$color-grey-light: #e5e7eb;
$color-grey-light-2: #f3f4f6;

$color-blue: #003459;
$color-blue-light: #005694;
$color-blue-dark: #002742;
$color-blue-2: #0b7285;
$color-blue-rgb: 24, 100, 171;

$color-red: #ff6b6b;

$color-male: #339af0;
$color-female: #d6336c;

$color-green: #63e6be;
$color-green-dark: #20c997;
$color-green-light: #96f2d7;
$color-green-light-2: #c4f8e8;

$radius-tiny: 2px;
$radius-sm: 4px;
$radius-md: 6px;
$radius-lg: 10px;

$shadow-base: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);

$section-space: 12rem;

::selection {
  background-color: rgba(32, 201, 151, 0.5);
  color: $color-blue;
}
/*************** Global reset ********************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: clamp(8px, 1vw, 10px);
}

body {
  font-family: "SVN-Gilroy", sans-serif;
  background-color: $color-bg;
  color: #000;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100dvh;
  position: relative;
  overflow-x: hidden;
}
img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
button,
a {
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
  transition: 0.2s;
}
a:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible {
  outline: 2px solid #000;
  outline-offset: 0.2rem;
  transition: 0s;
}
button {
  cursor: pointer;
  &:active {
    scale: 0.98;
  }
}
/***********************************/

.heading-1 {
  font-size: 7rem;
  color: $color-blue;

  @media (max-width: 450px) {
    font-size: 6rem;
  }
}
.heading-2 {
  font-size: 4.5rem;
  color: $color-blue;
  @media (max-width: 450px) {
    font-size: 3.5rem;
  }
}
.heading-3 {
  font-size: 3rem;
  color: $color-blue;
}
.heading-4 {
  font-size: 2rem;
  color: $color-blue;
}
.heading-5 {
  font-size: 1.8rem;
  color: $color-green-dark;
}
.paragraph {
  font-size: 1.8rem;
  color: $color-blue-dark;
  font-weight: 400;
}

/***********************************/
/***********************************/
@keyframes shape-rotate-1 {
  0% {
    opacity: 0;
    transform: rotate(50deg) translate(50rem, 15rem);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotate(20deg) translate(0, 0);
  }
}
@keyframes shape-rotate-2 {
  0% {
    opacity: 0;
    transform: rotate(10deg) translate(50rem, 15rem);
  }
  100% {
    opacity: 1;
    transform: rotate(3deg) translate(0, 0);
  }
}
@keyframes move-img {
  0% {
    opacity: 0;
    transform: translateY(50rem);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes go-up {
  0% {
    opacity: 0;
    transform: rotate(60deg) translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: rotate(60deg) translateY(0);
  }
}
@keyframes hero {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes carti {
  0% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(-0.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

.offer {
  width: 100dvw;
  padding: 1rem;
  text-align: center;
  background-color: $color-blue;
  color: $color-bg;
  font-size: 1.6rem;
}

.section {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    margin-bottom: 4rem;
    margin-top: $section-space;
  }
  &__arrival {
    letter-spacing: 2px;
    font-size: 1.8rem;
    font-weight: 500;
    color: #12b886;
  }

  &__more-desk {
    padding: 6rem 2rem;
    button {
      width: 100%;
      justify-content: center;
    }
  }
}
.spacing {
  margin-top: 12rem;
}
.section-header {
  padding: 0;
  margin: 3rem 0;
}
.button {
  padding: 1rem 2.5rem;
  font-size: 2rem;
  color: $color-white;
  font-weight: 400;
  background-color: $color-blue;
  border-radius: $radius-sm;
  width: 100%;
  transition: 0.2s;
  &:hover {
    background-color: $color-blue-dark;
  }
}

::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background-color: $color-grey-light;
}
::-webkit-scrollbar-thumb {
  background-color: $color-blue;
}

.page-header {
  height: 30rem;
  width: 100%;
  margin-bottom: 10rem;
  background-size: cover !important;
  background-position: 0 20% !important;
  padding: 4rem 6rem;
  font-size: 4rem;
  color: $color-white;
  border-radius: $radius-lg;
}

.products-layout {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 3rem;
  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
  }
}
.filters {
  padding: 2rem;
  border-radius: $radius-md;
  position: sticky;
  top: 10rem;
  align-self: start;
  display: flex;
  flex-direction: column;
  border: 1px solid $color-grey-light;
  gap: 3rem;
  @media (max-width: 1000px) {
    display: grid;
    grid-template-columns: auto auto 1fr;
    justify-content: space-between;
    gap: 4rem;
  }
  li {
    padding-bottom: 4rem;
    border-bottom: 1px solid $color-grey-light;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @media (max-width: 1000px) {
      &:last-child {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      }
      &:nth-child(2) {
        div {
          flex-direction: column;
        }
      }
    }
    &:last-child {
      border-bottom: 1px solid transparent;
    }
    p {
      font-size: 2rem;
      margin-bottom: 1rem;
      font-weight: 600;
      color: $color-text;
    }
  }
  &__inputs {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  &__input {
    position: relative;
    input {
      max-width: 12rem;
      font-size: 1.6rem;
      border-radius: $radius-sm;
      outline: none;
      border: 1px solid $color-grey-light;
      padding: 1rem 2rem;
      padding-right: 3rem;
    }
  }
  &__icon {
    font-size: 2rem;
    color: $color-grey;
    position: absolute;
    right: 1rem;
    top: 50%;
    translate: 0 -50%;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.no-result {
  font-size: 2.4rem;
  color: $color-text;
  margin: 4rem;
}
