@import "@/index.scss";
.products {
  padding: 10rem;
  @media (max-width: 800px) {
    padding: 2rem;
    padding-top: 5rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 2rem;
    row-gap: 5rem;
    justify-items: center;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    margin-bottom: 4rem;
    @media (max-width: 800px) {
      gap: 2rem;
      padding: 0;
    }
  }
  &__arrival {
    letter-spacing: 2px;
    font-size: 1.8rem;
    color: #12b886;
  }
  &__button {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 2rem;
    @media (max-width: 800px) {
      width: 17rem;
    }

    i {
      font-size: 2rem;
      transform: rotate(180deg);
      transition: 0.3s;
    }
    &:hover {
      gap: 1.5rem;
    }
    &:hover i {
      transform: rotate(180deg) translateX(-0.5rem);
    }
  }
}
.product {
  cursor: pointer;
  width: min(100%, 32rem);
  background-color: #fff;
  display: grid;
  grid-template-rows: 26rem 23rem;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  transition: 0.3s;
  box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.1);

  &__name {
    font-size: 1.8rem;
    font-weight: 500;
    word-break: keep-all;
  }
  &__image-container {
    width: 95%;
    margin-inline: auto;
    // max-height: 45rem;
    overflow: hidden;
    // align-self: center;
    border-radius: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    position: relative;
  }
  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.5s;
  }
  &__text {
    padding: 2rem;
    display: grid;
    grid-template-rows: 20% 15% 15%;
    gap: 2rem;
  }

  &__info {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: 1.58rem;
    font-size: 1.4rem;
  }
  &__gene {
    span {
      font-weight: 600;
    }
  }

  &__age {
    span {
      font-weight: 600;
    }
  }
  &__price {
    margin-top: 0.9rem;
    font-size: 2.5rem;
    color: $color-green-dark;
    font-weight: 500;

    position: relative;

    display: flex;
    flex-direction: column;
  }

  &__cart-icon {
    font-size: 3.4rem;
    color: $color-text;
    transition: 0.2s;
    border-radius: 1rem;
    &:hover {
      animation: carti 1.2s infinite ease;
      color: $color-blue-dark;
    }
  }

  &:hover {
    background-color: #fff;
  }
  &:hover &__image {
    transform: scale(1.04);
  }

  &__gift {
    background-color: #e6fcf5;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    width: 150%;
    position: absolute;
    bottom: 0;
    left: 0;
    p {
      font-size: 1.3rem;
      font-weight: 500;
      color: #003459;
    }
    &--icon {
      font-size: 2rem;
      color: #087f5b;
    }
  }
}
/*/****************************************/

.product-details {
  border: 1px solid $color-grey-light-2;
  border-radius: $radius-lg;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
  }
  &__left {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  &__image {
    height: 55rem;
    border-radius: $radius-lg;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__remarks {
    display: flex;
    align-self: start;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.4rem;
    gap: 4rem;
    row-gap: 2rem;
    background-color: $color-green-light-2;
    color: $color-blue-dark;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: $radius-lg;
    &--mark {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    &--icon {
      font-size: 2.6rem;
    }
  }
  &__share {
    display: flex;
    gap: 4rem;
    font-size: 2rem;
    margin-top: 4rem;
    span {
      display: flex;
      gap: 0.8rem;
      align-items: center;
      font-weight: 500;
      font-size: 1.8rem;
      color: $color-blue-dark;
    }

    &--socials {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    &--social {
      cursor: pointer;
      font-size: 3.4rem;
      color: $color-grey;
      padding: 0.5rem;
      transition: 0.2s;
      &:hover {
        color: $color-text;
      }
    }
  }
  &__right {
    padding: 4rem;
    @include flexCol();
    gap: 4rem;
    font-weight: 500;
    @media (max-width: 600px) {
      padding: 0;
    }
    &--top {
      @include flexCol();
      line-height: 1.4;
    }
    &--center {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
    }
  }
  &__add {
    background-color: $color-blue;
    color: $color-white;
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: 500;
    border-radius: $radius-md;
    min-width: 20rem;
    flex: 1;
  }
  &__quantity {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: $color-grey-light-2;
    border-radius: $radius-md;
    padding: 1rem 0;
    span {
      padding: 0 1.4rem;
      color: $color-blue-dark;
      font-size: 1.8rem;
      border-inline: 1px solid $color-grey-light;
      min-width: 5rem;
      text-align: center;
    }
    button {
      padding: 0 1.5rem;
      font-size: 2.6rem;
      color: $color-blue;
    }
  }
  &__id {
    color: $color-grey;
    font-size: 1.8rem;
    font-weight: 400;
  }
  &__name {
    color: $color-black;
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 500;
  }
  &__price {
    margin-top: 2rem;
    font-size: 3.2rem;
    color: $color-blue;
  }
  &__right--bottom {
    ul {
      @include flexCol();
      gap: 0rem;
    }
    li {
      color: $color-grey;
      display: grid;
      padding: 1.4rem 0;
      grid-template-columns: 1fr 1.8fr;
      font-size: 1.6rem;
      border-bottom: 1px solid $color-grey-light;
    }
  }
}

.stock {
  position: relative;
  justify-self: start;
  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -20px;
    translate: 0 -50%;
    border-radius: 100rem;
    aspect-ratio: 1;
  }
  &::after {
    height: 8px;
    background-color: $color-green-light;
  }
  &::before {
    height: 16px;
    right: -24px;
    background-color: $color-green-light-2;
    animation: scale 1s infinite linear;
  }
}

@keyframes scale {
  0% {
    scale: 0.4;
    opacity: 1;
  }
  60% {
    scale: 0.8;
    opacity: 1;
  }
  100% {
    scale: 1.5;
    opacity: 0.2;
  }
}
